.detail-page {
  padding:30px 0;
  h1.name {
    font-family: $lekton;
    font-size: 16px;
    text-transform: uppercase;
    color:$black;
    display: inline-block;
    //border-bottom: 1px $black solid;
    padding-bottom: 2px;
    margin-bottom: 5px;
    font-weight: bold;
    //margin-left: 20px;
    position: relative;
    letter-spacing: 1px;
    // &:before {
    //   content: '';
    //   display: block;
    //   width: 8px;
    //   height: 8px;
    //   border-radius:50%;
    //   background-color:$green;
    //   left: -20px;
    //   position: absolute;
    //   top: 5px;
    // }
  }
  .tags {
    margin-bottom: 10px;
  }
  h2 {
    font-family: $lekton;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  p {
    font-family: $georgia;
    font-size: 12px;
    line-height: 24px;
    a {
      font-style: italic;
      display: inline-block;
      position: relative;
      color: #333;
      &:before {
        content: '';
        width: 100%;
        display: block;
        background: #333;
        position: absolute;
        height: 1px;
        bottom: 2px;
      }
    }
  }
}

/* ==========================================================================
  Media Queries
  ========================================================================== */

@media screen and (min-width: $screen-sm-min) {
  .detail-page {
    .gallery {
      text-align: left;
    }
  }
}
@media screen and (min-width: $screen-md-min) {
  .detail-page {
    h1.name {
      font-size: 30px;
      letter-spacing: 2px;
      &:before {
        top:10px;
      }
    }
    p {
      font-size: 14px;
    }
    h2 {
      font-size: 18px;
    }

  }
}
@media screen and (min-width: $screen-lg-min) {
}
