
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
      <div class="detail-page">
        <h1 class="name">{{greenspace.name}}</h1>
        <ul class="tags clearfix">
          <li ng-show="greenspace.tags" ng-repeat="tag in greenspace.tags">#{{tag}}</li>
        </ul>
        <p>{{greenspace.description}}</p>
        <div ng-show="greenspace.hours">
          <h2>Hours</h2>
          <p>{{greenspace.hours}}</p>
        </div>
        <h2>Parking</h2>
        <p>{{greenspace.parking}}</p>
        <div ng-show="greenspace.address">
          <h2>Location</h2>
          <p>{{greenspace.address}}</p>
        </div>

        <div class="buttons">
          <a href="{{greenspace.location}}" class="button" target="_blank">View on Map</a>

          <a ng-show="greenspace.moreInfo" href="{{greenspace.moreInfo}}" class="button" target="_blank">More Information</a>
        </div>
        <div class="gallery" ng-show="greenspace.images">
          <ul class="clearfix">
            <li  ng-repeat="image in greenspace.images"><img ng-src="images/greenspaces/{{image}}.jpg" alt="" width="150"></li>
          </ul>
        </div>
      </div>
      <div class="seperator"></div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-3">
      <section class="sidebar hidden-xs hidden-sm">
        <div class="events">
          <h3>Events</h3>
          <div class="coming-soon">
            in the future...
          </div>
        </div>
      </section>
      <div ng-include="'partials/footer-nav.html'")></div>
    </div>
  </div>
</div>