<div ng-include="'partials/header.html'")></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
      <ul class="spaces">
        <li class="space" ng-repeat="greenspace in greenspaces | filter:mySearch.query | filter:tag | orderBy:orderProp as filtered">
          <a href="#/{{greenspace.id}}" class="name">{{greenspace.name}}</a>
          <div class="distance" ng-hide="greenspace.distance"></div>
          <div class="distance" ng-show="greenspace.distance">~ {{greenspace.distance}} mi</div>
          <p>{{greenspace.snippet}}</p>
          <ul class="tags clearfix">
            <li ng-repeat="tag in greenspace.tags | orderBy:'toString()'">#{{tag}}</li>
          </ul>
        </li>
        <li class="no-spaces" ng-show="filtered.length == 0"><img src="images/no-spaces.png" alt=""><h2>No greenspace matched...</h2> <p>But maybe what you are looking for hasn't been added to the index yet. If you believe there is something crucial missing from the index please email atlgreenspaces@gmail.com and I'll be sure to address it as soon as possible.</p></li>
      </ul>
      <div class="seperator"></div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-3">
      <section class="sidebar hidden-xs hidden-sm">
        <div class="search">
          <form action="" class="form">
            <input type="text" placeholder="Search" ng-model="mySearch.query">
          </form>
        </div>
       
        <div class="filters">
          <h3>Filters</h3> 
          <ul class="tags clearfix">
            <li ng-repeat="tag in tagslist"><a ng-click="setTag(tag,$event)" data-tag="{{tag}}">#{{tag}}</a></li>
          </ul>
        </div>
        <div class="events">
          <h3>Events</h3>
          <div class="coming-soon">
            in the future...
          </div>
        </div>
      </section>
     <div ng-include="'partials/footer-nav.html'")></div>
      <div class="seperator seperator--left"></div>
    </div>
  </div>
</div>
<div class="fixed">
  <div class="visible-xs visible-sm">
    <div class="mobile-tags-wrapper closed clearfix">
      <div class="trigger" ng-click="toggleMobileTag($event)">Filters</div>
      <ul class="mobile-tags">
        <li ng-repeat="tag in tagslist"><a ng-click="setTag(tag,$event)" data-tag="{{tag}}">#{{tag}}</a></li>
      </ul>
    </div>
    <div class="order-trigger order-trigger--mobile visible-xs visible-sm" ng-click="changeOrder($event)">
      <ul>
        <li class="active" data-order="name">A</li>
        <li data-order="-name">Z</li>
        <li data-order="distance" class="geo"></li>
      </ul>
    </div>
  </div>
  <div class="status hidden-xs">
    <div class="container">
      <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
        
        >> <span ng-show="filtered.length != greenspaces.length">{{filtered.length}} greenspaces matched </span>
        <div class="order-trigger hidden-xs hidden-sm" ng-click="changeOrder($event)">
          <ul>
            <li class="active" data-order="name">A</li>
            <li data-order="-name">Z</li>
            <li data-order="distance" class="geo"></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
