<header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-wrap">
            <div class="atlanta">Atlanta</div>
            <div class="logo js-logo-trigger" ng-click="clickLogo($event)"></div>
            <div class="greenspaces">Greenspaces</div>
            <form action="">
              <input type="text" placeholder="Search" ng-model="mySearch.query">
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>